//Singularity
$grids: 12;
$gutters: 1/3;

//Breakpoints
$narrow: 30em;
$tablet: 45em;
$computer: 52em;
$wide: 65em;
$very-wide: 73.15em;

.container {
  background-clip: content-box;
  background-origin: content-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 79.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
}

.container--overlay {
  height: 100%;
  @include flexbox;
  @include justify-content(center);
  @include flex-direction(column);
  @include align-items(center);
}

.container__row {
  clear: both;
}

.container__row--flexbox {
  max-width: 100%;
}

.container:after,
.container__row:after {
  clear: both;
}