//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

// Grays
// -------------------------
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #666 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$grayLightest:          #fafafa !default;
$white:                 #fff !default;

// Accent colors
// -------------------------
//$blue:                  #049cdb !default;
$blueDark:              #0064cd !default;
$green:                 #46a546 !default;
$red:                   #C80000;
$redDark:               #A00000;
$yellow:                #FBC90E;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;

// Brand Colors
// -------------------------
$hoverRed:              #A00000 !default;
$darkerGray:            #262626 !default;
$darkGray:              #444444 !default;
$mediumGray:            #666666 !default;
$lightGray:             #A3A3A3 !default;
$blue:                  #223D62 !default;

// Scaffolding
// -------------------------
// $bodyBackground:        $white !default;
$bodyBackground:        $white !default;
$textColor:             $mediumGray !default;
$contentBackground:     $white !default;
$borderRadius:          5px;
$bottomMargin:          25px;

// Links
// -------------------------
$linkColor:             $red !default;
$linkColorHover:        darken($linkColor, 20%) !default;


// Typography
// -------------------------
$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace !default;

$baseFontSize:          14px !default;
$baseFontFamily:        $sansFontFamily !default;
$baseLineHeight:        24px !default;
$altFontFamily:         $serifFontFamily !default;

$headingsFontFamily:    inherit !default; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    normal !default;    // instead of browser default, bold
$headingsColor:         inherit !default; // empty to use BS default, $textColor